$commit-spacing: 60px;
.commits {
  list-style-type: none;
  margin:0;
  padding:0 0 0 $commit-spacing;
  li{
    width: 33.3%;
    padding: $commit-spacing $commit-spacing 0 0;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    a {
      color: lighten($blue2, 30%);
      &:hover { text-decoration: underline; }
    }
  }
  img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  .message {
    position: absolute;
    bottom: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    left:0px; right:$commit-spacing;
    color: $white;
    text-align: center;

    background: rgba(0,0,0, 0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .author {
    position:absolute;
    top: $commit-spacing;
    padding-top: 5px;
    padding-bottom: 3px;
    left:0; right: $commit-spacing;
    color: $white;
    background: rgba(0,0,0, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .meta {
    position: absolute;
    bottom: -20px;
    right: $commit-spacing;
    text-align: right;
    font-size: $body-text-size;
    color: $gray;
  }
}
