.card-overlay {
  position: fixed;
  z-index: 100;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
}
.card {
  width: 600px;
  background-color: $white;
  min-height: 600px;
  margin: 50px auto;
  z-index:101;
  display:block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: $gutter-width;
  background-color: $indigo-lightest;
}

.card-image {
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.card {
  .new-comment {
    position: relative;
    margin-top: $gutter-width;
    margin-left:40px + $body-text-size;
    .avatar {
      position: absolute;
      top: 0;
      left: -50px;
    }
    textarea {
      width: 100%;
      margin-bottom: $body-text-size - 8px;
    }
  }
}

ul.comments {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
li.comment {
  position: relative;
  margin-left: 40px + $body-text-size;
  margin-top: $gutter-width;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid $indigo-lighter;
  font-size: $body-text-size;

  .avatar {
    position: absolute;
    top: 0;
    left: -(40px + $body-text-size);
  }

  .comment-meta {
    background-color: $indigo-lighter;
    padding: $body-text-size;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;

    a {
      display: inline-block;
    }
  }
  .comment-body {
    padding: 0 $body-text-size;
  }
}
