.front-page.center
  %h1.mega Commitboards

  %p
    Do you use #{link_to 'git', 'http://git-scm.com'}? <br/>
    Do you have a mac? <br/>
    Let your whole team share selfies everytime someone commits!

  = form_for Board.new do |f|
    %p.tagline Create a board now and start sharing selfies
    = f.text_field :name, placeholder: 'Board name', autofocus: true
    = f.submit 'Go!', id: 'create_board'
