// http://colourco.de/analogic/5/%234fb7c4

$turquoise:  #49b1be;
$blue1:      #4b90c0;
$blue2:      #4e70c3;
$indigo:     #5250c5;
$indigo-light:   lighten($indigo, 10);
$indigo-lighter: lighten($indigo, 40);
$indigo-lightest: lighten($indigo, 50);
$purple:     #7753c8;
$yellow:     #f7d07c;
$yellow-light: lighten($yellow, 20);
$green:      #4cae4c;
$green-light:  lighten($green, 10);

$gray:       #666666;
$gray-light: lighten($gray, 30);

$white:      #ffffff;


// widths

$menu-height: 70px;
$gutter-width: 30px;
$gutter-width-mini: 10px;


// font sizes

$body-text-size: 14px;
