input[type=text], textarea {
  border: 1px solid $gray-light;
  font-size: 16px;
  font-weight: 200;
  padding: 16px;
  border-radius: 5px;
  color: $gray;
  box-sizing: border-box;
  outline: none;
  margin: 0 0 0 0;

  &:focus {
    border-color: $indigo-light;
  }
  &.input-small {
    padding: $body-text-size;
    font-size: $body-text-size;
    font-weight: normal;
  }
}

.btn {
  border: 2px solid $indigo;
  background-color: $white;
  color: $indigo;
  border-radius: 5px;
  padding: 16px 30px;
  font-size: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
  outline: none;
  margin: 0 0 0 0;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  &.btn-primary{
    background-color: $indigo;
    color: $white;
  }

  &.btn-small {
    font-size: 14px;
    padding: 10px 30px;
  }
}

input.code-example {
  border: 1px solid $indigo;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  width: 900px;
  text-align: center;
  font-family: 'Courier New';
}

@media (max-width: $phone-breakpoint) {
  input[type=text], input[type=submit], textarea {
    width: 100%;
    margin-bottom: $gutter-width-mini;
  }
}
