
.menu {
  position: absolute;
  z-index: 1;
  left:0; top:0; right:0;
  height: $menu-height;
  padding:12px $gutter-width;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: $indigo;
  color: $white;
  h1 {
    float:left;
    margin:3px 0 0 0;
    color: $white;
  }
}

.menu-items {
  float: right;
  list-style-type: none;
  margin-top: 12px;
  li {
    display: inline-block;
    padding: 0 10px;
  }
  a {
    color: $white;
  }
}

.with-menu {
  padding-top: $menu-height;
}

@media (max-width: $phone-breakpoint) {
  .menu-items {
    margin-top:15px;
  }
}
