.hidden {
  display: none;
}

.spacing-top    { margin-top:    100px; }
.spacing-bottom { margin-bottom: 100px; }
.gutter         { margin-left:   $gutter-width; margin-right: $gutter-width; }

.pull-right { float: right; }


.alert, .notice {
  border-radius: 5px;
  -moz-border-radius: 5px;
  border:1px solid;
  max-width: 80%;
  padding: 20px;
  margin: 20px auto;
  text-align:center;
  a {
    text-decoration: underline;
  }
}

.alert{
  background-color: $yellow-light;
  border-color: $yellow;
}
.notice{
  background-color: $green;
  border-color: $green;
  color: $white;
}

.avatar {
  border-radius: 5px;
  -moz-border-radius: 5px;
}
